<div class="content">
    <button ng-click="order = 'name'">Order by name</button>
    <button ng-click="order = 'belt'">Order by Belt</button>
    <input type="text" ng-model="search" placeholder="Search for anime" />
    <ul id="anime-list">
      <li ng-repeat="anime in animess | orderBy: order | filter: search" ng-show="anime.available">
        <img ng-src="{{anime.thumb}}" style="margin: -12px 10px 0 0; float: left; width: 50px; border-radius: 50%;"
          ng-show="anime.thumb"/>
        <h3>{{anime.name}} - {{anime.rate | currency: '£'}}</h3>
        <div class="remove" ng-click="removeAnime(anime)">x</div>
        <span class="belt" style="background: {{anime.belt}}">{{anime.belt}} belt</span>
      </li>
    </ul>
    <form ng-submit="addAnime()">
      <input type="text" placeholder="name" ng-model="newanime.name" />
      <input type="text" placeholder="belt" ng-model="newanime.belt" />
      <input type="text" placeholder="rate" ng-model="newanime.rate" />
      <input type="submit" value="Add anime to list" />
    </form>
    <a href="" ng-click="removeAll()">Remove all animes</a>
</div>
